@font-face{
    font-family: montserrat-reg;
    src: url('../font/Montserrat-Regular.ttf');
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    padding: 20px 10px;
    transition: 0.5s !important;
}

.title-banner{
    width: 50%;
    color: #fff;
    position: relative;
    left: 350px;
    top: -400px;
    z-index: 95;
    font-size: 30px;
    text-align: center;
    font-family: 'montserrat-reg';
}

@media screen and (max-width:800px){
    .title-banner{
        left: 90px;
        top: -180px;
        font-size: 10px;
    }

    nav img{
        width: 100px;
    }

    #navbar{
        background-color: #333 !important;
        padding: 10px;
    }

    .navbar-toggler-icon{
        width: 20px !important;
    }
}

/* nav */
.nav-item a{
    color: #fff !important;
}

.dropdown-menu a{
    color: #fff !important;
}

.dropdown-menu a:hover{
    background: #fff !important;
    color: #333 !important;
    transition: 0.5s !important;
}

.dropdown-menu{
    background-color: #333333 !important;
}


/* history */
.history-wrapper{
    width: 100%;
    height: 750px;
    /* background-color: red; */
}
.history-picture-wrap{
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.history-tag{
    width: 35% !important;
    height: 50px;
    background-color: #000;
    opacity: 80%;
    z-index: 99;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-top: -25%;
}

.history-picture{
    width: 33%;
    margin-right: -5px;
    z-index: -9;
}

.history-text-wrap{
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;; */
    color: #737373;
    /* background-color: red; */
}
.history-text-wrap>hr{
    border: 1.5px solid coral;
    width: 90px;
    position: relative;
    z-index: 9;
    transform: rotate(-90deg);
}

.history-list{
    width: 350px ;
    height: 250px;
    /* background: blue;  */
    float: left;
    margin-left: 30px;
}

.history-list>h {
    font-weight: bold;
}
.history-list>li {
    margin-left: 30px;
}


/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; 
    text-align: left;
    padding: 8px;
  } */
  

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* News */
.news-wrapper{
    width: 100%;
    height: 550px;
    /* background: red; */
}
.news-content{
    width: 1200px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue;   */
}

.news-content>p{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    /* margin-left: 30px; */
    text-align: center;
}

.news-content>hr{
    border: 1.5px solid coral;
    width: 90px;
    margin-top: -20px;
}

.news-image{
    width: 500px !important;
    height: 400px;
    float: left;
    margin-left: 65px;
    margin-bottom: 50px;
    /* background: #000; */
}

.image-news{
    width: 100%;
    height: 300px;
}

.news-date{
    width: 100px;
    height: 100px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    color: #fff;
     font-size: 1em; 
    font-weight: 500;
    float: left;
    /* opacity: 80%; */
}

.news-date>p{
    font-size: 1.5em;
    margin-bottom: -3px;
}

.news-title{
    width: 390px;
    height: 100px;
    color: #333;
    font-size: 18px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding-top: 8px;
    float: right;
    position: relative;
  
}
.news-title>h5 {
    margin-top: -6px;
    font-size: 14px;
}

.news-title>a {
    text-decoration: none;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }